/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Tutorial Case

   Survey Forms Style Sheet
   Author: Noah Schatz
   Date:   10/22/25

   Filename:         rb_forms.css

*/

/* Form Layout Styles */

div.formRow {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   margin: 7px 0px;
}

div.formRow > * {
   -webkit-flex: 1 1 150px;
   flex: 1 1 150px;
}

/* Legend Styles */



/* Text Area Styles */



/* Spinner Styles */



/* Form Button Styles */



/* Validation Styles */

